<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <a href="{% url 'add_task' %}">Add Task</a>
    <a href="{% url 'task_list' %}">All Tasks</a> |
    <a href="{% url 'filtered_tasks' status_filter='done' %}">Completed Tasks</a> |
    <a href="{% url 'filtered_tasks' status_filter='not_done' %}">Pending Tasks</a>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.task }} - {% if task.status %}Completed{% else %}Not Completed{% endif %}
                <a href="{% url 'mark_as_done' task.id %}">Mark as Done</a> |
                <a href="{% url 'remove_task' task.id %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
